.register-section {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-container {
    min-height: 80vh;
  }
  
  .register-box {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  
  .register-box input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .register-button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #316fea;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .register-button:hover {
    background-color: #265bcb;
  }
  