.Home {
  text-align: center;
}

.mainHeading {
  max-width: fit-content;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.hero-section {
  padding: 80px 20px;
  text-align: center;
}

.hero-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}
